{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 12, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "max-len": ["error", {
      "code": 120,
      "ignoreTrailingComments": true,
      "ignoreTemplateLiterals": true,
      "ignoreUrls": true
    }],
    "no-console": "off",
    "no-plusplus": "off",
    "no-use-before-define": "off",
    "import/extensions": "off",

    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
