{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules"
  ],
  "ignoreFiles": [
    "dist/*"
  ],
  "rules": {
    "color-hex-case": "lower",
    "max-nesting-depth": [
      3,
      {
        "ignore": [
          "pseudo-classes"
        ]
      }
    ]
  }
}
