.chatsLayout {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.root {
  display: grid;
  align-content: end;
  padding: 72px 32px;
}

.incoming {
  border-radius: 0 24px 24px 24px;
  background: var(--primary-light);
  padding: 8px 16px 8px 8px;
  width: max-content;
}

.img {
  margin: 32px 0 32px auto;
  border-radius: 24px 24px 0 24px;
}
