.root {
  margin: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  min-width: 336px;
  padding: 32px;
  border-radius: 24px;
  background-color: var(--surface);
  border: 1px solid var(--surface-dark);
  box-shadow: 0 16px 8px -8px #0002;
}
