.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

.users {
  max-height: 50vh;
}

.user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 0;
}
