.root {
  margin: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;

  .fields {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
    margin: 32px 0;
  }

  .buttons {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
  }
}
