:global :root {
  --surface: #FFFCF9;
  --surface-dark: #C9C7BA;
  --primary-main: #6867C3;
  --primary-contrastTextColor: #fff;
  --primary-light: #F1F1F9;
  --primary-dark: #5250B9;
  --primary-text: #4D4D4D;
}

html {
  font-size: 16px;
}

body {
  color: var(--primary-text);
  font-family: "Noto Sans", sans-serif;
}

:global #app {
  display: grid;
  width: 100vw;
  height: 100vh;
}
