:root {
  --surface: #fffcf9;
  --surface-dark: #c9c7ba;
  --primary-main: #6867c3;
  --primary-contrast-text-color: #fff;
  --primary-light: #f1f1f9;
  --primary-dark: #5250b9;
  --primary-text: #4d4d4d;
  --secondary-text: #a2a2a2;
  --danger: #c30;
}

html {
  font-size: 16px;
}

body {
  overflow: hidden;
  color: var(--primary-text);
  font-family: "Noto Sans", sans-serif;
}

#app {
  display: grid;
  width: 100vw;
  height: 100vh;
}
