.root {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  grid-auto-columns: 48px auto;
  align-content: center;
  border-bottom: 1px solid var(--surface-dark);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.info {
  color: var(--secondary-text);
}

.status {
  font-size: 14px;
}
